.author-section {
    background-color: #fff;
    border-radius: 8px;
    margin-left: 89vh;
    margin-right: 0; 
  }
  .author-section {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .show-content {
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 80vh;
  max-width: 800px; 
}