

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #838383;
    padding: 24px;
  }

  .header h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
  }

  .logout-button {
    background: none;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-left: 60vh;
  }

  .preview-button {
    background-color: #ffb2b2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .preview-button:hover {
    background-color: #ff8787;
  }

  .button-style {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ffb2b2;
    color: #ffffff;
    border-radius: 8px;
    border: none;
  }

  .input-style {
    padding: 8px;
    border: none;
    border-bottom: 2px solid #a5c9ff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 200px;
    color: #333;
  }

  .blog-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    /* cursor: pointer;  */
    width: 80%;
    display: flex;
    align-items: center;
  }

  .blog-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a5c9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }

  .blog-item .blog-title {
    flex: 1;
    padding: 10px;
    text-align: left  ;
  }

  .blog-item .edit-btn,
  .blog-item .delete-btn {
    background-color: #ffb2b2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 8px;
    padding: 5px 10px
  }

  .blog-item .delete-btn {
    background-color: #838383;
    color: #fff;
    
  }

  .blog-item h3 {
    margin: 0;
    padding: 0;
    color: #333;
    cursor: pointer;
  }

  .blog-item:hover {
    background-color: #f9f9f9;
  }

  .content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .preview-content {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
  }

  .preview-content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .preview-content p {
    line-height: 1.8;
    color: #333;
  }

  .input-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #a5c9ff;
    outline: none;
    width: 100%;
    padding: 10px;
  }

  .content-container {
    max-width: 800px;
    margin: 0 auto;
  }

  /* Center the MDEditor */
  .MDEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Add some padding to the MDEditor toolbar */
  .MDEditor-toolbar {
    padding: 10px;
  }

  /* Set a max-width for the MDEditor editor */
  .MDEditor-editor {
    max-width: 800px;
  }
